<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>popService</servlet-name>
  	<display-name>popService</display-name>
  	<description></description>
  	<servlet-class>controller.popService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PopService</servlet-name>
  	<display-name>PopService</display-name>
  	<description></description>
  	<servlet-class>controller.PopService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PopSerivce</servlet-name>
  	<display-name>PopSerivce</display-name>
  	<description></description>
  	<servlet-class>controller.PopSerivce</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>popService1</servlet-name>
  	<display-name>popService1</display-name>
  	<description></description>
  	<servlet-class>controller.popService1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_seoService</servlet-name>
  	<display-name>pop_seoService</display-name>
  	<description></description>
  	<servlet-class>controller.pop_seoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_namSerivce</servlet-name>
  	<display-name>pop_namSerivce</display-name>
  	<description></description>
  	<servlet-class>controller.pop_namSerivce</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_bookService</servlet-name>
  	<display-name>pop_bookService</display-name>
  	<description></description>
  	<servlet-class>controller.pop_bookService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_namService</servlet-name>
  	<display-name>pop_namService</display-name>
  	<description></description>
  	<servlet-class>controller.pop_namService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_gsgService</servlet-name>
  	<display-name>pop_gsgService</display-name>
  	<description></description>
  	<servlet-class>controller.pop_gsgService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_dongService</servlet-name>
  	<display-name>pop_dongService</display-name>
  	<description></description>
  	<servlet-class>controller.pop_dongService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>popService</servlet-name>
  	<url-pattern>/popService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PopService</servlet-name>
  	<url-pattern>/PopService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PopSerivce</servlet-name>
  	<url-pattern>/PopSerivce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>popService1</servlet-name>
  	<url-pattern>/popService1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_seoService</servlet-name>
  	<url-pattern>/pop_seoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_namSerivce</servlet-name>
  	<url-pattern>/pop_namSerivce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_bookService</servlet-name>
  	<url-pattern>/pop_bookService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_namService</servlet-name>
  	<url-pattern>/pop_namService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_gsgService</servlet-name>
  	<url-pattern>/pop_gsgService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_dongService</servlet-name>
  	<url-pattern>/pop_dongService</url-pattern>
  </servlet-mapping>
</web-app>
