<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>jobservice</servlet-name>
  	<display-name>jobservice</display-name>
  	<description></description>
  	<servlet-class>controller.jobservice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>jobService</servlet-name>
  	<display-name>jobService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.jobService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>promService</servlet-name>
  	<display-name>promService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.promService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>promservice</servlet-name>
  	<display-name>promservice</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.promservice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cardService</servlet-name>
  	<display-name>cardService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.cardService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_bookService</servlet-name>
  	<display-name>pop_bookService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.pop_bookService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_dongService</servlet-name>
  	<display-name>pop_dongService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.pop_dongService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_gsgService</servlet-name>
  	<display-name>pop_gsgService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.pop_gsgService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_namService</servlet-name>
  	<display-name>pop_namService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.pop_namService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pop_seoService</servlet-name>
  	<display-name>pop_seoService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.pop_seoService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jobservice</servlet-name>
  	<url-pattern>/jobservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jobService</servlet-name>
  	<url-pattern>/jobService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>promService</servlet-name>
  	<url-pattern>/promService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>promservice</servlet-name>
  	<url-pattern>/promservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cardService</servlet-name>
  	<url-pattern>/cardService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_bookService</servlet-name>
  	<url-pattern>/pop_bookService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_dongService</servlet-name>
  	<url-pattern>/pop_dongService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_gsgService</servlet-name>
  	<url-pattern>/pop_gsgService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_namService</servlet-name>
  	<url-pattern>/pop_namService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pop_seoService</servlet-name>
  	<url-pattern>/pop_seoService</url-pattern>
  </servlet-mapping>
</web-app>
