@charset "UTF-8";
#ns1 {
	width: 380;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ns2 {
	width: 380;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ns3 {
	width: 380;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ns4 {
	width: 380;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ns5 {
	width: 380;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#news_table {
	border-top: 1px solid white;
}

.date{
	align : center;
}