@charset "UTF-8";

.cls-1 {
	fill: rgb(9, 14, 11);
	color : white;
}


.cls-2 {
	font-size: 40px;
	color : white;
}

.top text, .top tspan {
	fill: #fff;
	display: block;
}

.top:hover text, .top:hover tspan {
	fill: #333;
}

.group {
	cursor: pointer;
}

.group:hover path {
	transition: fill .2s;
}

.group:hover .cls-1 {
	fill: slateblue;
	color: white;
}

.group:active .cls-1 {
	fill: lightsteelblue;
}

.group.select .cls-1 {
	fill: darkslateblue;
}

.group.select text, .group.select tspan {
	fill: #333;
}