@charset "UTF-8";
#pop {
	width: 510px;
}
#pop_btn{
	float: right;
}
#dg, #sg, #ng, #bg{
	height: 30px;
	width: 40px;
	font-size: 13px;
}
 #gg{
	height: 30px;
	width: 50px; 
	font-size: 13px;
 }